HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse / Spring Tool Suite ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

### Visual Studio Code ###
.vscode/

### macOS / Windows ###
.DS_Store
Thumbs.db

### Local environment ###
.env
*.log

